<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = { theme: { extend: { colors: { bg: '#3AAFA9', textWhite:
      '#FEFFFF', textBlack: '#17252A', textGreen: '#2B7A78', textLight:
      '#DEF2F1' } } } }
    </script>
    <title>Job Board</title>
  </head>
  <body class="bg-bg">
    <header class="flex py-4">
      <nav class="flex items-center">
        <h2 class="text-textBlack text-5xl font-bold px-5">Birdsville</h2>
        <ul class="flex items-center gap-8 text-3xl text-textLight px-6">
          <li>Post Job</li>
          <li>{{#if isLoggedIn}}<a href="/logout">Logout</a>{{else}}<a
                href="/login"
              >Login</a>{{/if}}</li>
          <li>Sign Up</li>
          <li>Categories</li>
        </ul>
      </nav>
    </header>
    <main>

      {{{body}}}

    </main>
  </body>
</html>