
    <div class="grid grid-cols-1 items-center mx-auto py-8 px-10 lg:grid-cols-2 ">
        <div class="flex flex-col gap-5 mt-8 p-10 items-center">
            <img class="sm:w-4/5 md:w-3/5 lg:w-3/5 -skew-x-4 -skew-y-10 " src="/assets/images/Noticed_Pin_Red.png" alt="brand-logo">
            {{!-- <h1 class="text-7xl font-extrabold -skew-x-2 -skew-y-6 text-bgDarkBlue w-96 leading-normal lg:pt-16">Noticed Board</h1> --}}
            <p class="max-w-lg text-xl">Get more done with help from Locals in your area.
            Noticed is your platform to Post jobs or to find jobs. From cleaning to construction, Noticed is your one stop shop.</p>
            <a href="/jobs">
                <button class="flex justify-self-start w-32 py-3 p-3 bg-bgBlue rounded-2xl text-white justify-center hover:cursor-pointer transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-bgBlue duration-200">Browse Jobs</button>
            </a>
        </div>
        <div class="grid grid-cols-1 items-center justify-center lg:pt-7">
            <img class="w-2/3 mx-auto md:w-2/4 lg:w-2/3" src="/assets/images/Wavy Buddies - Delivering.png" alt="">
        </div>
    </div>
    <div class="grid grid-cols-1 w-full py-8 px-10">
        <div class="grid grid-cols-1 px-10 items-start justify-center lg:grid-cols-2 lg:items-center lg:justify-start">
            <div class="grid grid-cols-1 px-5 lg:justify-center lg:items-center">
                <h2 class="items-center pb-3 font-bold text-4xl lg:text-3xl ">Need a Job Done.
                </h2>
                    <p class="text-xl"> 
                    Create your Job and Pick the right person for the Task
                </p>
                <div class="grid py-5">
                    <a href="/post-job">
                        <button class="bg-bgBlue py-3 w-96 rounded-2xl text-white hover:cursor-pointer transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-bgBlue duration-200">
                            Post your Job to Noticed
                        </button>
                    </a>
                </div>
                <div class="grid py-2">
                    <a href="/post-job">
                        <button class="bg-bgBlue py-3 w-96 rounded-2xl text-white hover:cursor-pointer transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-bgBlue duration-200">
                            Find Noticed and earn!
                        </button>
                    </a>
                </div>
            </div>
            <div class="grid grid-cols-1 items-center justify-center py-5 lg:py-10">
                <h2 class="p-5 text-4xl px-5 font-bold justify-self-start">How Does Noticed Work</h2>
                <div class="grid grid-cols-1 mx-auto gap-3 justify-start items-start ms-5 lg:items-center lg:justify-center">
                    <p><span class="border-2 border-bgBlue bg-bgBlue text-white px-2 py-1 aspect-square rounded-full me-3">1</span>Login or Sign Up</p>
                    <p><span class="border-2 border-bgBlue bg-bgBlue text-white px-2 py-1 aspect-square rounded-full me-3">2</span>Fill out our post job form</p>
                    <p><span class="border-2 border-bgBlue bg-bgBlue text-white px-2 py-1 aspect-square rounded-full me-3">3</span>Choose from 1000s of Local Workers</p> 
                </div>
                <div class="flex py-8 px-5">
                    <a href="/post-job">
                        <button class="bg-bgBlue py-3 w-96 rounded-2xl text-white hover:cursor-pointer transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-bgBlue duration-200">
                            Post your Job to Noticed workers
                        </button>
                    </a>
                </div>
            </div>  
        </div>
    </div>  
    <div class="flex flex-col w-full items-center px-10 pb-10 lg:flex-row lg:items-start">
        <div class="flex flex-col w-full gap-3 px-10 mx-auto">
            <h2 class="text-4xl font-bold mb-2">See What Categories Noticed Have</h2>
                  {{#each categories as |category|}}
                    <a class="flex gap-2 hover:text-bgBlue" href="/categories/{{category.dataValues.id}}">
                    <img class="w-8" src="assets/images/bullet.svg" alt="">
                    <p class="text-xl">{{category.dataValues.job_category_name}}</p>
                    </a>
                  {{/each}}
                  <a href="/job-board">
                    <button class="bg-bgBlue py-2 w-96 mt-3 rounded-2xl text-white hover:cursor-pointer transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-bgBlue duration-200">
                        See all Jobs
                    </button>
                  </a>
            </div>
            <div class="flex flex-col gap-5 w-full ">
                <h2 class="px-5 text-4xl pt-10 font-bold lg:py-0">Have full trust in Noticed with these security features</h2>
                <div class="flex flex-col items-start gap-5 px-5 mx-auto">
                    <div class="flex flex-col items-start gap-3">
                        <h3 class="relative flex text-xl font-bold justify-self-start">Secure Payments With PayPal <span class="flex items-center ms-3"><img class="absolute w-10" src="assets/images/paypal-3-svgrepo-com.svg" alt="paypal"></span></h3>
                        <p>Noticed Only releases payments when the Job is complete and Signed of by both parties. Noticed keeps payments in escrow to avoid payment issues</p>
                        <a class="text-bgBlue font-bold -mt-3 hover:cursor-pointer" href="">More Info</a>
                    </div>
                    <div class="flex flex-col items-start gap-3">
                        <h3 class="text-xl font-bold justify-self-start">Ratings & Reviews <span class="ms-2 text-lg font-normal">4/4 ⭐⭐⭐⭐</span></h3>
                        <p>Have peace of mind with Job posters and Noticed Workers with comprehensive reviews and stars rating system</p>
                        <a class="text-bgBlue font-bold -mt-3 hover:cursor-pointer" href="">More Info</a>
                    </div>
                    <div class="flex flex-col items-start gap-3">
                        <h3 class="relative flex text-xl font-bold justify-self-start">Mandatory Work Cover<span class="flex items-center ms-3"><img class="absolute w-8" src="assets/images/health-insurance-medical-medical-svgrepo-com.svg" alt="health-insurance"></span></h3>
                        <p>All job posters are required to purchase Insurance for all Noticed workers. A small fee of <span class="font-bold">$21.99</span> ensures all Noticed workers are looked after in the event of injury.</p>
                        <a class="text-bgBlue font-bold -mt-3 hover:cursor-pointer" href="">More Info</a>
                    </div>
                </div>
            </div>
    </div> 
