
            <form id="login-form" class="grid grid-cols-1 flex-col items-center my-auto justify-center mx-auto w-10/12 md:w-2/4 lg:w-1/3" action="">
                <h2 class="text-4xl font-bold py-4">Login</h2>
                <div class="flex flex-col justify-start">
                    <label class="text-textBlack text-3xl py-1" for="email">Email</label>
                    <input class="w-full rounded-lg p-1 outline-none ps-3" id="login-email" type="text" name="email"> 
                    <p id="login-email-error"></p>
                </div>
                <div class="flex flex-col justify-start">
                    <label class="text-textBlack text-3xl py-1" for="password">Password</label>
                    <input class="w-full rounded-lg p-1 outline-none ps-3" id="login-password" type="
                    password" name="password">
                    <p id="login-password-error"></p>
                </div>
                <button id="btn" class="flex justify-self-start w-32 py-3 p-3 bg-bgBlue rounded-2xl text-white justify-center hover:cursor-pointer transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-bgBlue duration-200 mt-5" type="submit" role="button">Sign Up</button>
            </div>
        </form>