
  <div class="grid grid-cols-1 items-center w-3/4 mx-auto my-auto px-2 md:w-4/5 lg:w-2/5">
  <h2 class="text-4xl font-bold text-indigo-950 my-3">Create Job</h2>

  <!-- Success message -->
{{#if jobPosted}}
<br>
<div
  id="alert-additional-content-1"
  class="p-4 mb-4 text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800"
  role="alert"
>
  <div class="flex items-center">
    <svg
      aria-hidden="true"
      class="w-5 h-5 mr-2"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
        clip-rule="evenodd"
      ></path>
    </svg>
    <span class="sr-only">Info</span>
    <h2 class="text-lg font-medium">Job successfully posted!</h2>
  </div>
  <div class="mt-2 mb-4 text-sm">
    You can view and edit your job add in My Jobs now.
  </div>
  <div class="flex">
    <a
      href="./myjobs"
      class="text-white bg-blue-800 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >My Jobs</a>
    <a
      href="/"
      class="text-blue-800 bg-transparent border border-blue-800 hover:bg-blue-900 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 text-center dark:hover:bg-blue-600 dark:border-blue-600 dark:text-blue-400 dark:hover:text-white dark:focus:ring-blue-800"
    >Back to Homepage
    </a>
  </div>
</div>
<br>
{{/if}}

  <form
    id="post-job-form"
    action=""
  >
    <div class="flex flex-col justify-start">
      <label class="text-textBlack text-3xl py-1" for="job-name">Job Name</label>
      <input
        class="w-full rounded-lg p-1 outline-none ps-3"
        id="job-name"
        type="text"
        name="job-name"
      />
      <p id="job-name-error"></p>
    </div>

    <div class="flex flex-col justify-start">
      <label class="text-textBlack text-3xl py-1" for="job-category">Job Category</label>
      <select id="job-category" class="form-select" aria-label="Default select example">
      <option selected>Categories</option>
      <option value="1">Event Support</option>
      <option value="2">Handyman Services</option>
      <option value="3">General Labour</option>
      <option value="4">Personal Assistance</option>
      <option value="5">Pet Care</option>
      <option value="6">Freelance Services</option>
      <option value="7">Tutoring and Lessons</option>
      <option value="8">Babysitting and Childcare</option>
      <option value="9">Elderly Care</option>
      <option value="10">Miscellaneous</option>
    </select>
      <p id="job-category-error"></p>
    </div>

    <div class="flex flex-col justify-start">
      <label class="text-textBlack text-3xl py-1" for="job-description">Job
        Description</label>
      <textarea class="w-full rounded-lg p-1 outline-none px-3"
        id="job-description"
        type="text"
        name="job-description"
       rows="5"
       cols="10"
       >

      </textarea>
      <p id="description-error"></p>
    </div>
    
    <div class="flex flex-col justify-start">
      <label class="text-textBlack text-3xl py-1" for="location">Suburb</label>
      <input
        class="w-full rounded-lg p-1 outline-none ps-3"
        id="suburb"
        type="text"
      />
      <p id="suburb-error"></p>
    </div>

    <div class="flex flex-col justify-start">
      <label class="text-textBlack text-3xl py-1" for="date">Date</label>
      <input
        class="w-full rounded-lg p-1 outline-none ps-3"
        id="date"
        type="date"
        name="date"
      />
      <p id="date-error"></p>
    </div>
    
    <div class="flex flex-col justify-start">
      <label class="text-textBlack text-3xl py-1" for="date">Start Time</label>
      <input
        class="w-full rounded-lg p-1 outline-none ps-3"
        id="start-time"
        type="time"
        name="time"
      />
      <p id="start-time-error"></p>
    </div>
    
    <div class="flex flex-col justify-start">
      <label class="text-textBlack text-3xl py-1" for="Est Duration">Est
        Duration</label>
      <input
        class="w-full rounded-lg p-1 outline-none ps-3"
        id="duration"
        type="number"
        name="Est Duration"
      />
      <p id="duration-error"></p>
    </div>
    
    <div class="flex flex-col justify-start">
      <label class="text-textBlack text-3xl py-1" for="Price">Price</label>
      <input
        class="w-full rounded-lg p-1 outline-none ps-3"
        id="price"
        type="number"
        name="Price"
      />
      <p id="price-error"></p>
    </div>
    <button
      class="bg-bgBlue my-3 py-3 md:w-3/5 w-3/5 lg:w-2/5 rounded-2xl text-white hover:cursor-pointer transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-bgBlue duration-200"
      type="submit"
      role="button"
    >Post Job</button>
  </div>
</form>
</div>