<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-3.7.0.js"
    integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                bg: '#3AAFA9',
                textWhite: '#FEFFFF',
                textBlack: '#17252A',
                textGreen: '#2B7A78',
                textLight: '#DEF2F1'
              }
            }
          }
        }
      </script>
    <title>Job Board</title>
</head>
<body class="bg-bg">
    <header class="flex py-4">
        <nav class="flex items-center">
           <h2 class="text-textBlack text-5xl font-bold px-5">Birdsville</h2>
           <ul class="flex items-center gap-8 text-3xl text-textLight px-6">
            <li>Post Job</li>
            <li>Login</li>
            <li>Sign Up</li>
            <li>Categories</li>
           </ul>
        </nav>      
    </header>
    <main>
      
 
        <form id="sign-up-form" class="flex mx-auto w-10/12" action="">
            <div class="flex flex-col w-96 mx-auto">
                    <div class="flex flex-col justify-start">
                        <label class="text-textBlack text-3xl py-1" for="first-name">First Name</label>
                        <input class="w-full rounded-lg p-1 outline-none ps-3"  id="first-name" type="text" name="first-name">
                        <p id="firstname-error"></p>
                    </div>
                    <div class="flex flex-col justify-start">
                        <label class="text-textBlack text-3xl py-1" for="last-name">Last Name</label>
                        <input class="w-full rounded-lg p-1 outline-none ps-3" id="last-name" type="text" name="last-name">
                        <p id="lastname-error"></p>
                    </div>
                    <div class="flex flex-col justify-start">
                        <label class="text-textBlack text-3xl py-1" for="email">Email</label>
                        <input class="w-full rounded-lg p-1 outline-none ps-3" id="email" type="text" name="email">
                        <p id="email-error"></p>
                    </div>
                    <div class="flex flex-col justify-start ">
                        <label class="text-textBlack text-3xl py-1" for="password">Password</label>
                        <input class="w-full rounded-lg p-1 outline-none ps-3" id="password" type="password" name="password">
                        <p id="password-error"></p>
                    </div>
                    <button id="btn" class="flex w-52 bg-black rounded-2xl py-2 text-white items-center justify-center my-3 hover:bg-emerald-950" type="submit" role="button">CREATE ACCOUNT</button>
                </div>
            </form>
        </main>

    <script src="../public/js/index.js"></script>
</body>
</html>