
<form id="sign-up-form" class="flex mx-auto w-10/12" action="">
    <div class="flex flex-col w-96 mx-auto">
        <div class="flex flex-col justify-start">
            <label class="text-textBlack text-3xl py-1" for="first-name">First Name</label>
            <input class="w-full rounded-lg p-1 outline-none ps-3" id="first-name" type="text" name="first-name">
            <p id="firstname-error"></p>
        </div>
        <div class="flex flex-col justify-start">
            <label class="text-textBlack text-3xl py-1" for="last-name">Last Name</label>
            <input class="w-full rounded-lg p-1 outline-none ps-3" id="last-name" type="text" name="last-name">
            <p id="lastname-error"></p>
        </div>
        <div class="flex flex-col justify-start">
            <label class="text-textBlack text-3xl py-1" for="email">Email</label>
            <input class="w-full rounded-lg p-1 outline-none ps-3" id="email" type="text" name="email">
            <p id="email-error"></p>
        </div>
        <div class="flex flex-col justify-start ">
            <label class="text-textBlack text-3xl py-1" for="password">Password</label>
            <input class="w-full rounded-lg p-1 outline-none ps-3" id="password" type="
            password" name="password">
            <p id="password-error"></p>
        </div>
            <button id="btn" class="flex w-52 bg-black rounded-2xl py-2 text-white items-center justify-center my-3 hover:bg-emerald-950" type="submit" role="button">CREATE ACCOUNT</button>
        </div>
</form>
